backend/node_modules
frontend/aws3/node_modules
frontend/aws3/release/builder-debug.yml
frontend/aws3/release/builder-effective-config.yaml
frontend/aws3/release/vite-project 0.0.0.exe
frontend/aws3/release/win-unpacked/chrome_100_percent.pak
frontend/aws3/release/win-unpacked/chrome_200_percent.pak
frontend/aws3/release/win-unpacked/d3dcompiler_47.dll
frontend/aws3/release/win-unpacked/ffmpeg.dll
frontend/aws3/release/win-unpacked/icudtl.dat
frontend/aws3/release/win-unpacked/libEGL.dll
frontend/aws3/release/win-unpacked/libGLESv2.dll
frontend/aws3/release/win-unpacked/LICENSE.electron.txt
frontend/aws3/release/win-unpacked/LICENSES.chromium.html
frontend/aws3/release/win-unpacked/resources.pak
frontend/aws3/release/win-unpacked/snapshot_blob.bin
frontend/aws3/release/win-unpacked/v8_context_snapshot.bin
frontend/aws3/release/win-unpacked/vite-project.exe
frontend/aws3/release/win-unpacked/vk_swiftshader_icd.json
frontend/aws3/release/win-unpacked/vk_swiftshader.dll
frontend/aws3/release/win-unpacked/vulkan-1.dll
frontend/aws3/release/win-unpacked/locales/af.pak
frontend/aws3/release/win-unpacked/locales/am.pak
frontend/aws3/release/win-unpacked/locales/ar.pak
frontend/aws3/release/win-unpacked/locales/bg.pak
frontend/aws3/release/win-unpacked/locales/bn.pak
frontend/aws3/release/win-unpacked/locales/ca.pak
frontend/aws3/release/win-unpacked/locales/cs.pak
frontend/aws3/release/win-unpacked/locales/da.pak
frontend/aws3/release/win-unpacked/locales/de.pak
frontend/aws3/release/win-unpacked/locales/el.pak
frontend/aws3/release/win-unpacked/locales/en-GB.pak
frontend/aws3/release/win-unpacked/locales/en-US.pak
frontend/aws3/release/win-unpacked/locales/es-419.pak
frontend/aws3/release/win-unpacked/locales/es.pak
frontend/aws3/release/win-unpacked/locales/et.pak
frontend/aws3/release/win-unpacked/locales/fa.pak
frontend/aws3/release/win-unpacked/locales/fi.pak
frontend/aws3/release/win-unpacked/locales/fil.pak
frontend/aws3/release/win-unpacked/locales/fr.pak
frontend/aws3/release/win-unpacked/locales/gu.pak
frontend/aws3/release/win-unpacked/locales/he.pak
frontend/aws3/release/win-unpacked/locales/hi.pak
frontend/aws3/release/win-unpacked/locales/hr.pak
frontend/aws3/release/win-unpacked/locales/hu.pak
frontend/aws3/release/win-unpacked/locales/id.pak
frontend/aws3/release/win-unpacked/locales/it.pak
frontend/aws3/release/win-unpacked/locales/ja.pak
frontend/aws3/release/win-unpacked/locales/kn.pak
frontend/aws3/release/win-unpacked/locales/ko.pak
frontend/aws3/release/win-unpacked/locales/lt.pak
frontend/aws3/release/win-unpacked/locales/lv.pak
frontend/aws3/release/win-unpacked/locales/ml.pak
frontend/aws3/release/win-unpacked/locales/mr.pak
frontend/aws3/release/win-unpacked/locales/ms.pak
frontend/aws3/release/win-unpacked/locales/nb.pak
frontend/aws3/release/win-unpacked/locales/nl.pak
frontend/aws3/release/win-unpacked/locales/pl.pak
frontend/aws3/release/win-unpacked/locales/pt-BR.pak
frontend/aws3/release/win-unpacked/locales/pt-PT.pak
frontend/aws3/release/win-unpacked/locales/ro.pak
frontend/aws3/release/win-unpacked/locales/ru.pak
frontend/aws3/release/win-unpacked/locales/sk.pak
frontend/aws3/release/win-unpacked/locales/sl.pak
frontend/aws3/release/win-unpacked/locales/sr.pak
frontend/aws3/release/win-unpacked/locales/sv.pak
frontend/aws3/release/win-unpacked/locales/sw.pak
frontend/aws3/release/win-unpacked/locales/ta.pak
frontend/aws3/release/win-unpacked/locales/te.pak
frontend/aws3/release/win-unpacked/locales/th.pak
frontend/aws3/release/win-unpacked/locales/tr.pak
frontend/aws3/release/win-unpacked/locales/uk.pak
frontend/aws3/release/win-unpacked/locales/ur.pak
frontend/aws3/release/win-unpacked/locales/vi.pak
frontend/aws3/release/win-unpacked/locales/zh-CN.pak
frontend/aws3/release/win-unpacked/locales/zh-TW.pak
frontend/aws3/release/win-unpacked/resources/app.asar
frontend/aws3/release/win-unpacked/resources/elevate.exe
