#root {
  display: flex;
  width: 100%;
  height: 100vh;
}

body {
  font-size: 16px;
}
.app {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: row;
  padding: 20px;
  width: 100%;
  background-color: #f8f9fa;
}

.left-side,
.right-side {
  flex: 1;
  width: 50%;
}
.divider {
  width: 10px;
  background-color: #f8f9fa;

  border-left: 1px solid #ccc;
  margin-left: 10px;
}

h1 {
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;

  .form-header {
    p {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
  .form-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .form-inputs {
      width: 300px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      label {
        font-size: 14px;
        margin-bottom: 5px;
      }
      input {
        padding: 10px;
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
      select {
        padding: 10px;
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
    }
    .form-actions {
      display: flex;
      flex-direction: row;
      gap: 10px;

      .disconnect-button {
        padding: 10px 15px;
        font-size: 14px;
        background-color: #dc3545;
        color: white;
        cursor: pointer;
      }
      .auth-button.valid {
        padding: 10px 15px;
        font-size: 14px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        &:hover {
          background-color: #0056b3;
        }
      }
      .auth-button.invalid {
        padding: 10px 15px;
        font-size: 14px;
        background-color: grey;
        color: white;
        cursor: not-allowed;
      }
    }
  }
}

button {
  padding: 10px 15px;
  font-size: 14px;
  background-color: #007bff;
  color: white;

  cursor: pointer;
}

.buckets,
.objects {
  margin-top: 20px;
}
.buckets-container {
  display: flex;
  flex-direction: column;
  .buckets-tools {
    .tools {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
      .create-bucket {
        padding: 10px 15px;
        font-size: 14px;
        background-color: #007bff;
        color: white;

        &:hover {
          background-color: #0056b3;
        }
      }
      .delete-bucket {
        padding: 10px 15px;
        font-size: 14px;
        color: white;
      }
      .delete-bucket.selected {
        background-color: #dc3545;
        &:hover {
          background-color: #461a1e;
        }
      }
      .delete-bucket.disabled {
        background-color: grey;
        cursor: not-allowed;
      }
      .list-objects {
        padding: 10px 15px;
        font-size: 14px;
      }
      .list-objects.disabled {
        background-color: grey;
        cursor: not-allowed;
      }
      .list-objects.selected {
        background-color: #007bff;
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
  .buckets {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .bucket {
      padding: 10px;
      border: 1px solid #ccc;
      cursor: pointer;
    }
    .bucket:hover {
      background-color: #f0f0f0;
    }
    .bucket.selected {
      background-color: #007bff;
      color: white;
    }
  }
}

.object-tools {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 10px;
  .left {
    display: flex;
    gap: 10px;
    .upload-object {
      background-color: #007bff;
      color: white;
    }
    .delete-object {
      background-color: #dc3545;
      color: white;
    }

    .file-upload {
      border-radius: 5px;
      display: flex;
      max-width: 300px;
      max-height: 40px;
      overflow: hidden;
      gap: 10px;
      padding: 10px;
      font-size: 14px;
      background-color: #2196f3;
      color: white;
      border: none;
      cursor: pointer;
      label {
        cursor: pointer;
      }
      input {
        display: none;
      }
    }

    .upload-button {
      min-width: 100px;
      max-height: 40px;
      padding: 10px;
      justify-content: center;
    }
  }
  .right {
    display: flex;
    gap: 10px;
    .download-object {
      background-color: #007bff;
      color: white;
    }
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  cursor: pointer;
}

li:hover {
  background-color: #f0f0f0;
}

li.selected {
  background-color: #007bff;
  color: white;
}
